body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

button.red {
    background-color: red;
}

button.green {
    background-color: green;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    color: indigo;
}

a {
    text-decoration: none;
    color: indigo;
}

nav {
    display: block;
    background-color: mediumpurple;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav img {
    float: left;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: fit-content;
}

nav ul li a:hover {
    background-color: indigo;
}